/* General body styles */
body {
    background-image: url(img/IMG_0982.JPEG);
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    color: #e0e0e0;
    margin: 0;
    padding-top: 150px;
}

/* Container styles */
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #e0e0e0;
    padding: 20px; /* Added padding for better spacing */
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-title {
    color: #333;
    padding: 10px 20px;
    background-color: #e0e0e0; /* Redundant as it's the same color as container */
}

/* Content styles */
.content {
    color: #333;
    padding: 20px;
    background-color: #e0e0e0;
}

/* Headings */
h1, h3 {
    margin-top: 0;
    font-size: 1.5em; /* Consider adjusting for h3 if needed */
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

/* Input styles */
input[type="email"] {
    background-color: #444;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
}

/* Button styles */
button[type="submit"] {
    background-color: #e5ff00;
    color: #000;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* Logo styles */
.logo {
    display: flex;
    justify-content: flex-end; 
    margin: 2rem; 
    transition: transform 0.3s ease;
}

.logo img {
    height: 200px; 
    width: auto; 
    border-radius: 50%; 
}

/* Logo hover effect */
.logo:hover {
    transform: scale(1.05);
}

/* Footer styles */
footer {
    background-color: transparent;
    color: black;
    text-align: left; /* Changed from bottom-left to left for clarity */
    padding: 100px 0; /* Adjusted padding for better layout */
}
